<mat-tab-group>
    <mat-tab label="Patient Information">
        <!--<h1>{{name}}</h1>-->
        <div style="width: 100%; display: flex; flex-flow: row wrap;">
            <app-patient-personal-data id="patient_personal_info"></app-patient-personal-data>
            <app-patient-monitor id="monitor"></app-patient-monitor>
        </div>
        <app-patient-history></app-patient-history>
    </mat-tab>
    <mat-tab label="Settings">
        <app-patient-settings></app-patient-settings>
    </mat-tab>
</mat-tab-group>