#patient_personal_info {
    display: inline-block; 
    margin-right: 10px; 
    width: 360px;
    margin-top: 10px;
    //border-style: dotted;
    //height: 500px;
}

#monitor {
    display: inline-block; 
    width: 500px;
    //border-style: dotted;
    margin-top: 10px;
    //height: 300px;
}