.div_class {
    width: 50%;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    //width: 500px;
    width: 100%;
  }
  
.example-form2 {
    min-width: 150px;
    max-width: 1000px;
    //width: 500px;
    width: 100%;
  }
.example-full-width {
width: 100%;
}

#info_form {
    display: inline-block; 
    margin-top: 10px;
    margin-right: 100px; 
    width: 500px;
    // border-style: dotted;
}

#remarks_form {
    display: inline-block; 
    margin-top: 10px;
    width: 500px;
    // border-style: dotted;
}

/*label {
    width: 100%;
}*/