<h1>Patients Info</h1>
<br/>

<div>
  <button mat-raised-button color='primary' (click) = 'newPatient()'>New patient</button>
  <label style="visibility: hidden;">..</label>
  <!--<button mat-raised-button color='primary' (click) = 'newSensor()'>New sensor</button>-->
</div>

<br/>

<div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!--Patient Col-->
        <ng-container matColumnDef="PatientID">
            <th mat-header-cell *matHeaderCellDef class="col_class"> 
              <div>
                <img [src] = 'patient_icon' class = 'icon'>
                <br/>
                Patient 
            </div>
            </th>
            <td mat-cell *matCellDef="let element"> {{element.PatientID}} </td>
          </ng-container>

          <!--Room Col-->
          <ng-container matColumnDef="room">
            <th mat-header-cell *matHeaderCellDef class="col_class">
              <img [src] = 'room_icon' class = 'icon'>
              <br/>
              Room
            </th>
            <td mat-cell *matCellDef="let element"> {{element.location.RoomNumber}} </td>
          </ng-container>

          <!--Age Col-->
          <ng-container matColumnDef="age">
            <th mat-header-cell *matHeaderCellDef class="col_class">
              <img [src] = 'age_icon' class = 'icon'>
              <br/>
              Age
            </th>
            <td mat-cell *matCellDef="let element"> {{element.personal.Age}} </td>
          </ng-container>

          <!--HR Col-->
          <ng-container matColumnDef="heartRate">
            <th mat-header-cell *matHeaderCellDef class="col_class">
              <img [src] = 'hr_icon' class = 'icon'>
              <br/>
              HR
            </th>
            <td mat-cell *matCellDef="let element"> {{element.heartRate}} </td>
          </ng-container>

          <!--BP Col-->
          <ng-container matColumnDef="bloodPresure">
            <th mat-header-cell *matHeaderCellDef class="col_class"> 
              <img [src] = 'bp_icon' class = 'icon'>
              <br/>
              BP
            </th>
            <td mat-cell *matCellDef="let element"> {{element.bloodPresure}} </td>
          </ng-container>

          <!--SpO2 Col-->
          <ng-container matColumnDef="spO2">
            <th mat-header-cell *matHeaderCellDef class="col_class">
              <img [src] = 'spo2_icon' class = 'icon'>
              <br/>
              SpO2
            </th>
            <td mat-cell *matCellDef="let element"> {{element.spO2}} </td>
          </ng-container>

          <!--BR Col-->
          <ng-container matColumnDef="breathingRate">
            <th mat-header-cell *matHeaderCellDef class="col_class">
              <img [src] = 'br_icon' class = 'icon'>
              <br/>
              BR
            </th>
            <td mat-cell *matCellDef="let element"> {{element.breathingRate}} </td>
          </ng-container>

          <!--Extra O2 Col-->
          <ng-container matColumnDef="extraO2">
            <th mat-header-cell *matHeaderCellDef class="col_class"> Extra <br/> O2 </th>
            <td mat-cell *matCellDef="let element"> {{element.extraO2}} </td>
          </ng-container>

          <!--Fever Col-->
          <ng-container matColumnDef="fever">
            <th mat-header-cell *matHeaderCellDef class="col_class">
              <img [src] = 'fever_icon' class = 'icon'>
              <br/>
              Fever
            </th>
            <td mat-cell *matCellDef="let element"> {{element.fever}} </td>
          </ng-container>

          <!--Breathing info-->
          <ng-container matColumnDef="breathingInfo">
            <th mat-header-cell *matHeaderCellDef class="col_class"> Breathing <br/> Info </th>
            <td mat-cell *matCellDef="let element"> {{element.breathingInfo}} </td>
          </ng-container>

          <!--Alerts Col-->
          <ng-container matColumnDef="alerts">
            <th mat-header-cell *matHeaderCellDef class="col_class">
              <img [src] = 'alerts_icon' class = 'icon'>
              <br/>
              Alerts
            </th>
            <td mat-cell *matCellDef="let element"> {{element.alerts}} </td>
          </ng-container>

          <!--Progress Col-->
          <ng-container matColumnDef="progress">
            <th mat-header-cell *matHeaderCellDef class="col_class">
              <img [src] = 'progress_icon' class = 'icon'>
              <br/>
              Progress
            </th>
            <td mat-cell *matCellDef="let element"> {{element.progress}} </td>
          </ng-container>

          <!--Score Col-->
          <ng-container matColumnDef="score">
            <th mat-header-cell *matHeaderCellDef class="col_class"> Score </th>
            <td mat-cell *matCellDef="let element"> {{element.score}} </td>
          </ng-container>

          <!--Data Col-->
          <ng-container matColumnDef="data">
            <th mat-header-cell *matHeaderCellDef class="col_class"></th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button (click)='patientData(element)'>
                <mat-icon>assignment_ind</mat-icon>
            </button>
            </td>
          </ng-container>

          <!--Release Col-->
          <ng-container matColumnDef="release">
            <th mat-header-cell *matHeaderCellDef class="col_class"></th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button (click)='releasePatient(element)'>
                <mat-icon>highlight_off</mat-icon>
            </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
</div>

<br/>