#patient_summary {
    display: inline-block; 
    margin-right: 10px; 
    width: 320px;
    // border-style: dotted;
    height: 110px;
}

#remarks {
    display: inline-block; 
    width: 320px;
    // border-style: dotted;
    height: 110px;
}

.input_class {
    height: 66px;
    width: 250px;
}
