#alerts_history {
    display: inline-block; 
    margin-right: 10px; 
    width: 320px;
    margin-top: 10px;
    //border-style: dotted;
    height: 300px;
}

#scoring_graph {
    display: inline-block; 
    width: 500px;
    //border-style: dotted;
    margin-top: 10px;
    height: 300px;
}

.header {
    display: inline-block;
}