.top{
    width: 80px;
    height: 5px;
    border-top: solid;
    border-left: solid;
    border-right: solid;
    border-color: yellow;
    background-color: black;
    text-align: right;
    padding-bottom: 0%;
}

.square{
    width: 80px;
    height: 55px;
    border-bottom: solid;
    border-left: solid;
    border-right: solid;
    background-color: black;
    text-align: center;
    border-color: yellow;
}

.BR{
    font-size: xx-large;
    text-align: center;
    //width: 70px;
    color: yellow;
    // display: inline;
    vertical-align: middle;
    // display: table-cell;
    width: 80px;
}